.todo-generator {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
  }
  
  .todo-generator input {
    width: 100%;
    padding: 8px 16px 8px 16px;
    margin-right: 16px;
  }
  
  .todo-generator button {
    width: 180px;
  }