.todo-item {
    border: 1px solid #CCC;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
  }

  .todo-item div {
    cursor: pointer;
  }

  .task-name.done {
    text-decoration: line-through;
  }
  